#pages{text-align: center;}
.leftMenu{border-radius: 0 !important;margin: 0 !important;font-size: 16px !important;background: #171a20 !important;}
.leftMenu a{color: #fff;font-size: 16px;border: 0 !important;}
.leftMenu .list-group{margin-bottom: 0 !important;}
.leftMenu .list-group li{background: #22262f;text-indent: 1em;line-height: 30px;}
.leftMenu .list-group li a{padding: 0 15px;}
.leftMenu .panel-heading{background: #171a20;color: #fff;}
#modalHtml img{clear: both; display: block; margin:auto; }
